body{
    background-color: orangered;
    text-align: center;
}
button{
    background-color: yellow;
    color: black;
    width: 80px;
    height: 80px;
    font-size: x-large;
    border-radius: 40%;
    
}
button:hover{
    color: yellowgreen;
}
li{
    font-size: xx-large;
    color: white;
}