body {
    background: black;
}

.setup:hover {
    cursor: pointer; 
}

ul {
    list-style-type: none;
}

#parent {
    padding: 0;
}

.setup {
    padding-bottom: 15px;
    color: lightblue;
}

.punchline {
    color: pink;
}